body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigasjonsmeny */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    color:#fff;
    text-decoration: none;
    font-size: 28px;
    font-family: syne;
    font-weight: bold;
    margin-top: 10px;
}

#menu-toggle {
    display: none;
}

.menu-icon i {
    display: none;
}
 
.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a,
.footer-container ul li a {
    text-decoration: none;
    color: #fff;
    position: relative; 
}

.nav-links li a::after,
.footer-container ul li a::after {
    content: ''; 
    display: block; 
    width: 0; 
    height: 2px; 
    background-color: #fff; 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    transition: width 0.3s ease; 
}

.nav-links li a:hover::after,
.footer-container ul li a:hover::after {
    width: 100%; 
}

.active {
    font-weight: bold;
}

/* Wrapper for intro-boks og image-boks */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;   
}

.cta-button {
    padding: 10px 28px 10px 28px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin-left: 40px; 
    margin-top: 10px; 
    align-self: start; 
}

.cta-contact-bottom:hover,
.cta-button:hover,
.project-links a:hover,
.cta-button-about:hover {
    color: rgba(45, 45, 45, 0.5); 
    border-color: rgba(45, 45, 45, 0.5); 
}

/* Informasjonsboks */
.intro-box {
    flex: 1;
    padding: 20px;
    background-color: #EFECE3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-height: 500px; 
    overflow: auto; 
}

.highlight {
    color:#333;
    font-weight: bold;
}

.intro-box h1 {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: lighter;
}

.intro-box p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;   
}

/* Bildeboks */
.image-box {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px; 
    overflow: hidden; 
    background-color: #EFECE3;
}

.image-box img {
    max-width: 100%;
    object-fit: cover;
}

/* Ferdighetscontainer */
.skills-container {
    width: 100%; 
    max-width: 1900px; 
    height: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
}

.skills-heading h2 {
    margin: 0;
    color: #000000;
    font-size: 43px;
    font-family: syne;
}

.skills-list ul {
    list-style-type: disc;
    padding: 0;
    color: #000000;
}

.skills-list li {
    margin-bottom: 10px;
}

.skills-heading {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.skills-list {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 18px;
}

/*Contact-container-home*/
.contact-container-home {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 60px;  
    background-color: #EFECE3;   
}

.contact-flexbox-home {
    max-width: 100%;
    margin: 0 auto;
    display: flex; 
    gap: 100px;   
    align-items: center; 
}

.contact-image-home {
    object-fit: cover;  
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-position: bottom;
}

.contact-large-text {
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 48px;
    text-align: center; 
    margin-bottom: 0;
}

.contact-small-text {
    text-align: center; 
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-item-bottom {
    text-align: center;
}

.cta-contact-bottom {
    padding: 10px 28px 10px 28px;
    background-color: transparent; 
    color: #000000; 
    border: 1px solid #000000; 
    border-radius: 0; 
    font-size: 16px; 
    font-weight: 500;
    cursor: pointer;   
    text-align: center; 
    text-decoration: none;
    line-height: 30px; 
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;   
}

/*Procects page*/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #EFECE3;
    margin-top: 40px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    max-width: 450px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h1 {
    margin-top: 0;
    font-family: syne;
    font-size: 27px;
}

.project-card p {
    font-size: 18px;
    font-family: lato;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/*Contact me, About me*/
.contact-container,
.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #EFECE3; 
    height:700px;
    max-width: 1300px;   
}

.contact-container,
.about-container {
    margin: 0 auto; 
    margin-top: 40px;
}

.contact-info,
.about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px; 
    font-size: 18px;
}

.contact-info h1,
.about-info h1 {
    margin-top: 0;
    font-family: syne;
    font-size: 36px;
}

.contact-image,
.about-image {
    flex: 1;
    padding: 20px;
}

.contact-image img,
.about-image img {
    height: 600px;
    width: 600px;
    object-fit: cover; 
}

.cta-button-about {
    padding: 10px 28px 10px 28px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin-top: 10px; 
    align-self: start; 
}

/*Footer*/
.footer-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10em;
    background-color: #333;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-top: 40px;
}

.footer-container ul {
    list-style-type: none;
}

.footer-heading {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
}

.help > ul,
.explore > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.li-footer > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.help,
.explore {
    color: #fff;
    flex: 1;
    line-height: 1.6;
}

.line-footer {
    width: 90%;
    display: block;
    border-top: 1px solid;
    color: #fff;
    margin-top: -20px;
}

.copy-rights {
    background-color: #333;
    padding-left: 5%;
    padding-bottom: 60px;
    color: #fff;
}

/*@media*/
@media(max-width:1696px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:1248px) {
    .contact-container, 
    .about-container {
        flex-direction: column;
        height: 100%;
        align-items: unset;
    }

    .contact-image img, 
    .about-image img {
        width: 100%;
        margin: 0;
    }
}

@media(max-width:1000px) {
    .contact-flexbox-home {
        gap: 0;
    }
}

@media(max-width:861px) {
    .content-wrapper {
        flex-direction: column;
    } 
  
    .intro-box {
        padding-left: 0px;
        padding-left: 0px;
    }
}

@media(max-width:831px) {
    .navbar {
        flex-direction: column; 
        display: block;
        line-height: 30px;
        padding-left: 15px;
    }  
}

@media(max-width:751px) {
    .skills-container {
        flex-direction: column;
    } 

    .skills-heading {
        margin-right: 70px;
    }
    
    .contact-flexbox-home {
        flex-direction: column;
    }

    .contact-flexbox-home {
        margin-bottom: 10px;
    }
}

@media(max-width:500px) {
    .navbar {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .navbar .nav-links {
        display: none;
    }
    
    .menu-icon i {
        display: block;      
    }  
    
    #menu-toggle:checked ~ .nav-links {
        display: block;
    }
    
    #menu-toggle:checked + .menu-icon i {
         display: inline;
    }

    .logo {
        display: none;
    }

    .intro-box p {
        font-size: 17px;
    } 

    .intro-box h1,
    .contact-large-text {
         font-size: 36px;
    }

    .skills-heading {
        font-size: 32px;
    }

    .skills-list,
    .contact-small-text,
    .project-card p,
    .contact-text {
        font-size: 17px;
    }

    .contact-info h1, 
    .about-info h1 {
        font-size: 27px;
    }

    .contact-image img, 
    .about-image img {
        height: 500px;
    }

    .contact-info, 
    .about-info {
        font-size: 17px;
    }

    .footer-container {
        gap: 7em;
    }

    .help > ul, 
    .explore > ul {
        font-size: 16px;
    }

    .footer-heading {
        font-size: 18px;
    }

    .copy-rights {
        font-size: 13px;
    }
}  


