body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigasjonsmeny */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    color:#fff;
    text-decoration: none;
    font-size: 28px;
    font-family: syne;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a,
.footer-container ul li a {
    text-decoration: none;
    color: #fff;
    position: relative; /* Legg til relativ posisjon */
}

.nav-links li a::after,
.footer-container ul li a::after {
    content: ''; /* Legg til innhold for pseudoelementet */
    display: block; /* Gjør det til en blokk */
    width: 0; /* Starter uten bredde */
    height: 2px; /* Tykkelsen på understreken */
    background-color: #fff; /* Farge på understreken */
    position: absolute; /* Absolutt posisjon relativt til lenken */
    bottom: -2px; /* Plasser understreken under lenken */
    left: 0; /* Start fra venstre kant av lenken */
    transition: width 0.3s ease; /* Legg til overgang for smidig effekt */
}

.nav-links li a:hover::after,
.footer-container ul li a:hover::after {
    width: 100%; /* Endre bredden til 100% når du holder over lenken */
}

.active {
    font-weight: bold;
}

/* Wrapper for intro-boks og image-boks */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    
}

/* Informasjonsboks */
.intro-box {
    flex: 1;
    padding: 20px;
    background-color: #EFECE3;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    max-height: 500px; 
    overflow: auto; 
}

.intro-box h1 {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: lighter;

}

.intro-box p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: start; 
    margin-left: 40px;
    margin-top: 10px;
    font-size: 16px;
}

/* Bildeboks */
.image-box {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px; 
    overflow: hidden; 
    background-color: #EFECE3;
}

.image-box img {
    max-width: 100%;
    object-fit: cover;
}

/* Ferdighetscontainer */
.skills-container {
    width: 100%; 
    max-width: 1900px; 
    height: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
}

.skills-heading h2 {
    margin: 0;
    color: #23190E;
    font-size: 43px;
    font-family: syne;
}

.skills-list ul {
    list-style-type: disc;
    padding: 0;
    color: #23190E;
}

.skills-list li {
    margin-bottom: 10px;
}

.skills-heading {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.skills-list {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 18px;
}

/*Contact-container-home*/
.contact-container-home {
    max-width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 60px;  
    background-color: #EFECE3;   
}

.contact-flexbox-home {
    max-width: 100%;
    margin: 0 auto;
    display: flex; 
    gap: 100px;   
    align-items: center; 
}

.contact-image-home {
    object-fit: cover;  
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-position: bottom;
}

.contact-large-text {
    color: #2d2d2d;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 48px;
    text-align: center; 
    margin-bottom: 0;
}

.contact-small-text {
    text-align: center; 
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-item-bottom {
    text-align: center;
}

.cta-contact-bottom {
    padding: 10px 28px 10px 28px;
    background-color: transparent; 
    color: #23190e; 
    border: 1px solid #23190e; 
    border-radius: 0; 
    font-size: 16px; 
    font-weight: 500;
    cursor: pointer;   
    text-align: center; 
    text-decoration: none;
    line-height: 30px; 
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;   
}

.cta-contact-bottom:hover {
    color: rgba(45, 45, 45, 0.5); 
    border-color: rgba(45, 45, 45, 0.5); 
}

/*Procects page*/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #EFECE3;
    margin-top: 40px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 350px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h1 {
    margin-top: 0;
    font-family: syne;
    font-size: 21px;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.project-links a:hover {
    background-color: #333;
    color: #fff;
}

/*Contact me, About me*/
.contact-container,
.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #EFECE3; 
    height:700px;
    max-width: 1300px;   
}

.contact-container,
.about-container {
    margin: 0 auto; 
    margin-top: 40px;
}

.contact-info,
.about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px; 
    font-size: 18px;
}

.contact-info h1,
.about-info h1 {
    margin-top: 0;
    font-family: syne;
    font-size: 36px;
}

.contact-image,
.about-image {
    flex: 1;
    padding: 20px;
}

.contact-image img,
.about-image img {
    height: 600px;
    width: 600px;
    object-fit: cover; 
}

/*Footer*/
.footer-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10em;
    background-color: #333;
    color: #fff;
    padding-bottom: 90px;
    padding-top: 50px;
    margin-top: 40px;
}

.footer-container ul {
    list-style-type: none;
}

.footer-heading {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
}

.help > ul,
.explore > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.li-footer > a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.help,
.explore {
    color: #fff;
    flex: 1;
    line-height: 1.6;
}

.line-footer {
    width: 90%;
    display: block;
    border-top: 1px solid;
    color: #fff;
    margin-top: -20px;
}

.copy-rights {
    background-color: #333;
    padding-left: 5%;
    padding-bottom: 60px;
    color: #fff;
}
