/* Generelle stiler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigasjonsmeny */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    color:#fff;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

/* Wrapper for intro-boks og image-boks */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
    
}

/* Informasjonsboks */
.intro-box {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
 padding-top: 100px;
    max-height: 400px; 
    overflow: auto; 
}

.intro-box h2 {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;

}

.intro-box p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: start; 
    margin-left: 40px;
}

/* Bildeboks */
.image-box {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px; 
    overflow: hidden; 
    background-color: #F0F0F0;
}

.image-box img {
    max-width: 100%;
  
    object-fit: cover;
}
/* Ferdighetscontainer */
.skills-container {
    width: 100%; 
    max-width: 1600px; 
    height: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #E6DAD1;
}

.skills-heading h3 {
    margin: 0;
    color: #23190E;
    font-size: 42px;
}

.skills-list ul {
    list-style-type: disc;
    padding: 0;
    color: #23190E;
}

.skills-list li {
    margin-bottom: 10px;
}

.skills-heading {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.skills-list {
    flex: 1; 
    margin-top: 100px;
    font-size: 18px;
}

/*Footer*/
.footer-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 10em;
    background-color: #333;
    color:#fff;
    padding-bottom: 90px;
    padding-top: 50px;
    margin-top: 40px;
}

.footer-heading {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #fff;
}
    
.help>ul {
    display: block;
    margin: 0;
    padding: 0; 
    font-size: 20px;
}

.li-footer>a,
.icon {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.help {
    color: #fff;  
    flex: 1; 
    line-height: 1,6;
}

.explor,
.follow {
    flex: 1; 
    line-height: 1.6;
    font-size: 20px; 
}

.line-footer {
    width: 90%;
    display: block;
    border-top: 1px solid;
    color:#fff; 
    margin-top: -20px;
}

.copy-rights {
    background-color:#333;
    padding-left: 5%;
    padding-bottom: 111px;
}
